.about {
    position: relative;

    // .about__caption
    &__caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    // .about__container
    &__container {}

    // .about__inner
    &__inner {}

    // .about__row
    &__row {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 40px;

        @media screen and (max-width: 789px) {
            grid-template-columns: 1fr;
            gap: 0px;
        }
    }

    // .about__col
    &__col {}

    // .about__title
    &__title {}

    // .about__link
    &__link {
        font-size: 18px;
        font-family: $fontSecondary;
        color: $white;
        padding: 15px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        background-color: rgba($color: $blue, $alpha: 0.6);
        transition: $animation_fast;

        @media (hover: hover) {
            &:hover {
                background-color: rgba($color: $blue, $alpha: 0.8);
            }
        }
    }

    // .about__text
    &__text {
        font-size: 17px;
        font-weight: 500;
        line-height: 150%;
        color: rgba($color: $mainColor, $alpha: 0.7);

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    // .about__gallery
    &__gallery {}

    // .about__image
    &__image {
        position: relative;
        width: 100%;
        height: 500px;

        @media screen and (max-width: 426px) {
            display: none;
        }

        // overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 7px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -20px;
            left: -20px;
            width: 200px;
            height: 100%;
            background-color: rgba($color: $blue, $alpha: 0.1);
            border-radius: 7px;
        }
    }

    // .about__content
    &__content {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 425px) {
            flex-direction: column;
        }
    }
}

.statistic-about {
    &:not(:last-child) {
        margin-right: 20px;
    }

    @media screen and (max-width: 1024px) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__number {
        font-family: $fontSecondary;
        font-size: 35px;
        font-weight: 600;
        color: $blue;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
    }
}


.gallery-about {

    // .gallery-about__container

    &__container {}

    // .gallery-about__inner

    &__inner {}

    // .gallery-about__gallery

    &__gallery {}

    // .gallery-about__title
    &__title {
        margin-bottom: 30px;
    }
}

.vbox-child {
    height: calc(100vh - 200px) !important;

    img {
        max-width: 100%;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 3vw);
    grid-gap: 15px;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @media screen and (max-width: 520px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    // .gallery__icon
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        margin-top: 30px;
        transition: $animation_fast;

        i {
            font-size: 20px;
            color: $white;
        }
    }



    // .gallery__item

    &__item {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $blue, $alpha: .4);
            opacity: 0;
            transition: $animation_fast;
        }

        &:hover {
            &::before {
                opacity: 1;
            }

            .gallery__icon {
                opacity: 1;
                margin-top: 0px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .gallery__item--1

    &__item--1 {
        @media screen and (min-width: 768px) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    // .gallery__item--2

    &__item--2 {
        @media screen and (min-width: 768px) {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    // .gallery__item--3

    &__item--3 {
        @media screen and (min-width: 768px) {
            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 6;
        }
    }

    // .gallery__item--4

    &__item--4 {
        @media screen and (min-width: 768px) {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 6;
        }
    }

    // .gallery__item--5

    &__item--5 {
        @media screen and (min-width: 768px) {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 6;
            grid-row-end: 9;
        }
    }

    // .gallery__item--6

    &__item--6 {
        @media screen and (min-width: 768px) {
            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 6;
            grid-row-end: 9;
        }
    }
}