.page-price {
    .spollers__title {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 7px;



        &._spoller-active {
            .price__icon {
                background-color: $white;
            }

        }
    }

    .spollers__body {
        padding: 0px 0px;
    }

}

.price {
    position: relative;

    // .price__container
    &__container {}

    // .price__inner

    &__inner {}

    // .price__top
    &__top {
        margin: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    // .price__select

    &__select {
        border: 1px solid rgba(46, 49, 70, 0.4);
        padding: 10px;
        border-radius: 5px;
        overflow: hidden;
        outline: none;

        @media screen and (max-width: 600px) {
            width: 100%;
            margin-top: 20px;
        }
    }

    // .price__caption

    &__caption {
        display: grid;
        grid-template-columns: 10% 1fr 10% 15%;
        background-color: rgba($color: $blue, $alpha: .6);

        @media screen and (max-width: 730px) {
            grid-template-columns: 1fr 20%;
        }

        @media screen and (max-width: 352px) {
            grid-template-columns: 1fr 23%;
        }
    }

    // .price__id

    &__id {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        color: rgba($color: $white, $alpha: 1.0);
        font-weight: 400;
        font-family: $fontSecondary;
        letter-spacing: .5px;
        font-size: 18px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .5);

        @media screen and (max-width: 730px) {
            display: none;
        }
    }

    // .price__name

    &__name {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        color: rgba($color: $white, $alpha: 1.0);
        font-weight: 400;
        font-family: $fontSecondary;
        letter-spacing: .5px;
        font-size: 18px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .5);

        @media screen and (max-width: 425px) {
            font-size: 16px;
            padding: 10px 10px;
        }
    }

    // .price__price

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        color: rgba($color: $white, $alpha: 1.0);
        font-weight: 400;
        font-family: $fontSecondary;
        letter-spacing: .5px;
        font-size: 18px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .5);

        @media screen and (max-width: 730px) {
            border-right: 0px;
        }

        @media screen and (max-width: 425px) {
            font-size: 16px;
            padding: 10px 10px;
        }
    }

    // .price__button

    &__button {
        @media screen and (max-width: 730px) {
            display: none;
        }
    }

    // .price__content

    &__content {}

    // .price__icon
    &__icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding: 5px;
        border-radius: 5px;

        img {
            max-width: 100%;
            margin-top: 3px;
        }
    }
}

.price-table {
    // .price-table__item

    &__item {
        display: grid;
        grid-template-columns: 10% 1fr 10% 15%;
        border-bottom: 1px solid rgba($color: $mainColor, $alpha: .5);

        @media screen and (max-width: 730px) {
            grid-template-columns: 1fr 20%;
        }

        @media screen and (max-width: 352px) {
            grid-template-columns: 1fr 23%;
        }

        &:nth-child(even) {
            background-color: rgba($color: $blue, $alpha: .2);
        }
    }

    // .price-table__id

    &__id {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        color: rgba($color: $mainColor, $alpha: 1.0);
        font-weight: 400;
        font-family: $fontSecondary;
        letter-spacing: .5px;
        font-size: 16px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .5);
        border-left: 1px solid rgba($color: $mainColor, $alpha: .5);

        @media screen and (max-width: 730px) {
            display: none;
        }
    }

    // .price-table__name

    &__name {
        display: flex;
        align-items: center;
        padding: 20px 10px;
        color: rgba($color: $mainColor, $alpha: 1.0);
        font-weight: 400;
        font-family: $fontSecondary;
        letter-spacing: .5px;
        font-size: 16px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .5);

        @media screen and (max-width: 730px) {
            border-left: 1px solid rgba($color: $mainColor, $alpha: .5);
        }

        @media screen and (max-width: 425px) {
            padding: 10px 10px;
        }

        @media screen and (max-width: 375px) {
            font-size: 14px;
            padding: 10px 10px;
        }
    }

    // .price-table__price

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        color: rgba($color: $accent, $alpha: 1.0);
        font-weight: 500;
        font-family: $fontSecondary;
        letter-spacing: .5px;
        font-size: 16px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .5);

        @media screen and (max-width: 425px) {
            padding: 10px 10px;
        }

        @media screen and (max-width: 375px) {
            font-size: 14px;
            padding: 10px 10px;
        }
    }

    // .price-table__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .5);

        button {
            padding: 10px 40px;
            // background-color: rgba($color: $blue, $alpha: .6);
            border-radius: 10px;
            // font-size: 14px;
            // letter-spacing: .5px;
            color: $mainColor;
            font-weight: 400;
            font-family: $fontSecondary;
            text-transform: uppercase;
            transition: $animation_fast;

            &:hover {
                color: $white;
                background-color: rgba($color: $blue, $alpha: .8);
            }
        }

        @media screen and (max-width: 730px) {
            display: none;
        }
    }
}