@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue Bold.woff2") format("woff2"), url("../fonts/BebasNeue Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue Book.woff2") format("woff2"), url("../fonts/BebasNeue Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue Light.woff2") format("woff2"), url("../fonts/BebasNeue Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue Thin.woff2") format("woff2"), url("../fonts/BebasNeue Thin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: helveticaneuecyr_roman;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr_roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr_roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue Regular.woff2") format("woff2"), url("../fonts/BebasNeue Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: helveticaneuecyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr_black.woff2") format("woff2"), url("../fonts/helveticaneuecyr_black.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: BebasNeueThin;
	font-display: swap;
	src: url("../fonts/BebasNeueThin.woff2") format("woff2"), url("../fonts/BebasNeueThin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: helveticaneuecyr_ultralight;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr_ultralight.woff2") format("woff2"), url("../fonts/helveticaneuecyr_ultralight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: helveticaneuecyr_thin;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr_thin.woff2") format("woff2"), url("../fonts/helveticaneuecyr_thin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}