.page {}

body {
  // height: 300vh;
}

section {
  padding: 60px 0px;
}

._title {
  font-size: 45px;
  line-height: 120%;
  font-family: $fontSecondary;
}

._subtitle-link {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  transition: $animation_fast;

  &:hover {
    color: $accent;

    svg {
      margin-left: 10px;
      fill: $accent;
    }
  }

  svg {
    transform: rotate(180deg);
    margin-left: 7px;
    margin-top: 4px;
    transition: $animation_fast;
  }
}

.arrow {
  width: 30px;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: normal !important;

  &::after {
    content: "";
    width: 98%;
    height: 1px;
    background-color: $mainColor;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent $mainColor;
  }

  &--left {
    &::before {
      left: 0;
      transform: rotate(180deg) translateY(-50%);
    }
  }
}

.question-btn {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 45px;
  height: 45px;
  background-color: $accent;
  padding: 12px;
  transition: $animation_fast;
  z-index: 99;

  &__inner {
    border: 2px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: $white;
    font-weight: 600;
    font-size: 12px;
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background-color: $accent !important;
}

// Кнопка для включени режима для слабовидящих

.blind {
  position: fixed;
  left: 0%;
  top: 60%;
  transform: translateY(-50%);
  // transform: translateX(-50%);
  z-index: 99;
  background-color: $accent;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  height: 70px;
  overflow: hidden;
  width: 50px;
  transition: $animation_fast;

  &:hover {
    width: auto;
    padding: 0px 20px;

    .blind__icon {
      margin-left: 10px;

      svg {
        margin-left: 5px;
      }
    }

    .blind__text {
      font-size: 17px;
    }
  }

  // .blind__icon

  &__icon {
    // padding-top: 15px;
    border-left: 1px solid rgba($color: $white, $alpha: 0.2);
    // margin-left: 10px;

    svg {
      width: 40px;
      margin-top: 7px;
      // margin-left: 5px;

      .st0 {
        fill: $accent;
      }

      .st1 {
        fill: none;
        stroke: $white;
        stroke-width: 50;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }

      .st1 {
        transition: $animation_fast;
      }
    }
  }

  // .blind__text

  &__text {
    font-family: $fontSecondary;
    color: $white;
    font-size: 0px;
    transition: $animation_fast;
  }
}


.swiper-slide-active .utp__title {
  animation: fadeInUpSD 0.6s both 0.6s;
}

.swiper-slide-active .utp__subtitle {
  animation: fadeInUpSD 0.6s both 0.8s;
}

.swiper-slide-active .utp__links {
  animation: fadeInUpSD 0.6s both 1s;
}

// .dots__icon
.dots__icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumbs {
  margin-top: 20px;

  // .breadcrumbs__container
  &__container {}

  // .breadcrumbs__inner
  &__inner {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: $fontSecondary;
    letter-spacing: .05em;
    color: #777;
  }

  // .breadcrumbs__first

  &__first {}

  // .breadcrumbs__separator
  &__separator {
    margin: 0px 0.6rem;

    &::after {

      content: "–";
    }
  }

  // .breadcrumbs__link

  &__link {
    position: relative;
    display: flex;
  }
}