.header {

  &__container {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: $mainColor, $alpha: .08);
  }

  &__menu {
  }

  &__action {
    display: flex;
  }

  &__search {
    margin-right: 20px;
    padding: 10px 0px;
    i{
      font-size: 17px;
    }
  }

  &__btn--action {
  }

  &__eye{
    display: flex;
    align-items: center;
    padding: 10px 0px;

    i{
     margin-right: 10px;
      font-size: 17px;
    }

    span{
      font-weight: 500;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin-right: 20px;
    i{
     
      font-size: 17px;
    }
  }

  &__bottom {
    padding: 20px 0px;
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 300px;
    margin-right: 5vw;

    img{
      max-width: 100%;
    }
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;

    a:first-child{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    a:nth-child(2){
      font-size: 16px;
      font-weight: 600;
      color: $accent;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      i{
        margin-right: 10px;
      }
    }
  }

  &__info {
    font-size: 12px;
    text-align: right;
    font-weight: 600;
    color: $accent;
  }

  &__btn {
    width: 150px;
    height: 40px;
    background-color: $accent;
  }
}
.menu {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child){
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    padding: 15px 0px;
    font-size: 13px;
    transition: $animation_speed;

    @media (hover: hover) {
      &:hover{
        color: $accent;
      }
    }
  }
}

.menu-bottom {
margin-right: 30px;
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child){
      margin-right: 27px;
    }
  }

  &__link {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 500;
  }
}





