.header {

  // .header__container

  &__container {}

  // .header__inner

  &__inner {}

  // .header__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 0px;
  }

  // .header__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px;
  }
}

.top-header {
  border-bottom: 1px solid rgba($color: $blue, $alpha: 0.1);
  padding-bottom: 10px;

  // .top-header__logo

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 5vw;

    img {
      width: 110px;
    }

    p {
      margin-top: -5px;
      display: flex;
      flex-direction: column;
      font-size: 23px;
      font-weight: 900;
      color: $blue;

      span {
        font-weight: 900;
        font-size: 23px;
        color: $accent;
      }
    }
  }

  // .top-header__action--col
  &__action--col {
    display: flex;
    align-items: center;
  }

  // .top-header__search

  &__search {}

  // .top-header__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 52px;
    background-color: $blue;
    border-radius: 10px;
    color: $white;
    font-size: 16px;
    margin-right: 3vw;

    svg {
      fill: $white;
      margin-right: 10px;
    }
  }

  // .top-header__action

  &__action {}
}

.header-search {
  background-color: $lightGrey;
  width: 400px;
  height: 52px;
  padding: 0px 10px 0px 20px;
  border-radius: 10px;

  // .header-search__form

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  // .header-search__input

  &__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;

    &:placeholder {
      color: rgba(47, 43, 67, 0.4);
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  // .header-search__btn

  &__btn {
    width: 40px;
    height: 100%;
    // border: 1px solid #000;

    svg {
      fill: rgba($color: $mainColor, $alpha: 0.3);
    }
  }
}

.action-header {
  // .action-header__phone

  &__phone {
    color: #140a32;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    display: flex;
  }

  // .action-header__address

  &__address {
    color: rgba(47, 43, 67, 0.5);
    font-size: 15px;
    font-weight: 400;
  }
}

.bottom-header {
  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  // .bottom-header__doctor

  &__doctor {
    height: 44px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    display: flex;
    align-items: center;
    background-color: $accent;
    color: $white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 3vw;

    svg {
      fill: $white !important;
      margin-right: 10px;
    }
  }

  // .bottom-header__menu

  &__menu {}

  // .bottom-header__login

  &__login {
    width: 192px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    color: $white;
    font-size: 15px;
    font-weight: 500;
    margin-right: 1.5vw;

    svg {
      fill: $white;
      margin-right: 10px;
    }
  }

  // .bottom-header__btn
  &__btn {
    background-color: $accent;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    border-radius: 10px;

    svg {
      fill: $white;
    }
  }
}

.menu {
  flex: 1 1 auto;
  margin-right: 3vw;

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .menu__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1.7vw;
    }
  }

  // .menu__btn
  &__btn {
    margin-left: 10px;
    width: 25px;
    height: 20px;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: $accent;
      margin-top: -1px;
      transition: $animation_fast;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      margin-top: -1px;
      background-color: $accent;
      width: 100%;
      transition: $animation_fast;
    }

    &::before {

      transform: translateY(-5px);
    }

    &::after {
      transform: translateY(5px);
    }

    &._active {
      span {
        width: 0%;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &::before {
        transform: rotate(45deg);
      }
    }
  }

  // .menu__link

  &__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: $animation_fast;

    svg {
      font-size: 12px;
      margin-top: 1px;
      margin-left: 5px;
    }

    @media (hover:hover) {
      &:hover {
        color: $accent;
      }
    }
  }
}

.submenu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: calc(100% - 55%);
  background-color: $white;
  z-index: 100;
  overflow-y: auto;
  transition: $animation_fast;

  &._show-submenu {
    top: 0;
  }

  // .submenu__container

  &__container {}

  // .submenu__inner

  &__inner {}

  // .submenu__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);
  }

  // .submenu__sprav

  &__sprav {
    font-weight: 600;

    a {
      color: $accent;
    }
  }

  // .submenu__blue

  &__blue {
    height: 44px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 1px solid rgba(46, 49, 70, 0.1);
    display: flex;
    align-items: center;
    background-color: $blue;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }

  // .submenu__red

  &__red {
    margin-left: 10px;
  }

  // .submenu__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px 20px;
    padding: 20px 0px;
  }

  // .submenu__link

  &__link {
    font-weight: 500;
    font-size: 14px;
    color: rgba($color: $mainColor, $alpha: .9);
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-weight: 600;
    transition: $animation_fast;

    @media (hover:hover) {
      &:hover {
        color: $accent;
      }
    }
  }

  .top-header {

    // .top-header__logo

    &__logo {}
  }

  .bottom-header {

    // .bottom-header__doctor

    &__doctor {}
  }

  // .submenu__btn
  &__btn {
    position: relative;
    width: 25px;
    height: 25px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background-color: $accent;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}