.header {

  // .header__container

  &__container {}

  // .header__inner

  &__inner {}

  // .header__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 0px;
  }

  // .header__bottom

  &__bottom {}
}

.top-header {
  border-bottom: 1px solid rgba($color: $blue, $alpha: 0.1);
  padding-bottom: 10px;

  // .top-header__logo

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 5vw;

    img {
      width: 110px;

      @media screen and (max-width: 525px) {
        width: 85px;
      }
    }

    p {
      margin-top: -5px;
      display: flex;
      flex-direction: column;
      font-size: 23px;
      font-weight: 900;
      color: $blue;

      span {
        font-weight: 900;
        font-size: 23px;
        color: $accent;
      }

      @media screen and (max-width: 525px) {
        font-size: 16px;

        span {
          font-size: 16px;
        }
      }
    }

    @media screen and (max-width: 1061px) {
      margin-right: 1vw;
    }
  }

  // .top-header__action--col
  &__action--col {
    display: flex;
    align-items: center;
  }

  // .top-header__search

  &__search {}

  // .top-header__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 52px;
    background-color: $blue;
    border-radius: 10px;
    color: $white;
    font-size: 16px;
    margin-right: 3vw;

    svg {
      fill: $white;
      margin-right: 10px;
    }
  }

  // .top-header__action

  &__action {}
}

.header-search {
  position: relative;
  width: 400px;
  height: 52px;
  padding: 0px 10px 0px 20px;
  border-radius: 10px;
  border: 1px solid rgba($color: $mainColor, $alpha: .2);

  @media screen and (max-width: 1215px) {
    width: 250px;
    margin-right: 15px;
  }

  @media screen and (max-width: 870px) {
    display: none;
    margin-right: 0px;
    margin-bottom: 40px;
    width: 100%;
    height: 50px;
  }

  // .header-search__form

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 870px) {
      width: 100%;
      height: 50px;
    }
  }

  // .header-search__input

  &__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    font-size: 14px;

    &::placeholder {
      color: rgba($color: $mainColor, $alpha: .6);
      font-size: 14px;
      font-weight: 400;
    }
  }

  // .header-search__btn

  &__btn {
    width: 40px;
    height: 100%;
    // border: 1px solid #000;

    svg {
      fill: rgba($color: $accent, $alpha: 1);
    }
  }

  // .header-search__grid
  &__grid {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    left: 0;
    width: 700px;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 99;
    transition: $animation_fast;

    /* Работает в Firefox */
    & {
      scrollbar-width: thin;
      scrollbar-color: rgba($color: $accent, $alpha: 1) orange;
    }

    /* Работает в Chrome, Edge и Safari */
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: $lightGrey, $alpha: 1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: $blue, $alpha: 1);
      border-radius: 5px;
    }

    @media screen and (max-width: 1024px) {
      width: 500px;
    }
  }

  // .header-search__card
  &__card {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    font-size: 16px;
    background-color: rgba($color: $white, $alpha: 1.0);
    border: 1px solid rgba($color: $mainColor, $alpha: .05);
    pointer-events: all;
    transition: $animation_fast;

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: $lightGrey, $alpha: 1);
      }
    }

    &.hidden-search-card {
      display: none;
      pointer-events: none;
    }
  }


}

.action-header {
  // .action-header__phone

  &__phone {
    color: #140a32;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
    display: flex;
    font-family: $fontSecondary;
    transition: $animation_fast;

    @media (hover:hover) {
      &:hover {
        color: $accent;
      }
    }

    @media screen and (max-width: 425px) {
      font-size: 16px;
    }

    @media screen and (max-width: 395px) {
      display: none;
    }
  }

  // .action-header__address

  &__address {
    color: rgba(47, 43, 67, 0.5);
    font-size: 15px;
    font-weight: 500;

    @media screen and (max-width: 625px) {
      display: none;
    }
  }
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px;
  transition: $animation_fast;

  @media screen and (max-width: 920px) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    z-index: 100;
    background-color: $white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    overflow-y: auto;
  }

  @media screen and (max-width: 450px) {
    padding: 50px 20px 20px;
    width: 85%;
  }

  &.active {
    left: 0%;
  }

  .mb-btn {
    display: none !important;

    @media screen and (max-width: 920px) {
      display: flex !important;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;

    @media screen and (max-width: 920px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
    }
  }

  // .bottom-header__doctor

  &__doctor {
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    display: flex;
    align-items: center;
    background-color: $accent;
    color: $white;
    font-size: 15px;
    font-weight: 600;
    margin-left: 1vw;
    transition: $animation_fast;

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: $accent, $alpha: .9);
      }
    }

    @media screen and (max-width: 920px) {
      margin-left: 0px;
    }

    svg {
      fill: $white !important;
      margin-right: 10px;
    }
  }

  // .bottom-header__menu

  &__menu {}

  // .bottom-header__login

  &__login {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $blue, $alpha: .6);
    color: $white;
    font-size: 15px;
    font-weight: 600;
    transition: $animation_fast;

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: $blue, $alpha: .8);
      }
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }

    @media screen and (max-width: 920px) {
      margin-top: 20px;
      width: 241px;
    }

    svg {
      fill: $white;
      margin-right: 10px;
    }
  }

  // .bottom-header__btn
  &__btn {
    background-color: $blue;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    border-radius: 10px;
    transition: $animation_fast;


    svg {
      fill: $white;
    }
  }

  .mb-search {
    display: flex;

    @media screen and (min-width: 870px) {
      display: none !important;
    }
  }
}

.menu {
  flex: 1 1 auto;
  margin-right: 3vw;

  // .menu__list

  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 920px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .menu__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1.7vw;

      @media screen and (max-width: 920px) {
        margin-right: 0px;
      }
    }

    @media screen and (max-width: 920px) {
      margin-bottom: 20px;
    }
  }

  // .menu__btn
  &__btn {
    margin-left: 10px;
    width: 25px;
    height: 20px;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: $accent;
      margin-top: -1px;
      transition: $animation_fast;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      margin-top: -1px;
      background-color: $accent;
      width: 100%;
      transition: $animation_fast;
    }

    &::before {

      transform: translateY(-5px);
    }

    &::after {
      transform: translateY(5px);
    }

    &._active {
      span {
        width: 0%;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &::before {
        transform: rotate(45deg);
      }
    }

    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  // .menu__link

  &__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: $animation_fast;

    svg {
      font-size: 12px;
      margin-top: 1px;
      margin-left: 5px;
    }

    @media (hover:hover) {
      &:hover {
        color: $accent;
      }
    }

    @media screen and (max-width: 920px) {
      font-size: 18px;
    }
  }
}

.submenu {
  position: fixed;
  top: -100%;
  left: 0%;
  width: 100%;
  padding: 0px 0px 40px;
  // height: calc(100% - 45%);
  height: auto;
  background-color: $white;
  z-index: 100;
  overflow-y: auto;
  transition: $animation_fast;

  &._show-submenu {
    top: 0;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  @media screen and (max-width: 920px) {
    top: 0;
    left: -100%;
  }

  // .submenu__container

  &__container {}

  // .submenu__inner

  &__inner {}

  // .submenu__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);

    @media screen and (max-width: 1155px) {
      flex-wrap: wrap;
    }
  }

  // .submenu__action
  &__action {
    display: flex;
    align-items: center;
  }

  // .submenu__row
  &__row {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  // .submenu__col
  &__col {

    &:first-child {
      align-self: flex-start;
    }

    .action-content__item {
      min-width: 290px;

      &:first-child {
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 1135px) {
      &:last-child {
        display: none;
      }
    }
  }

  // .submenu__sprav

  &__sprav {
    font-weight: 600;
    margin-right: 10px;

    a {
      color: $accent;
    }

    @media screen and (max-width: 470px) {
      display: flex;
      flex-direction: column;

      a {
        margin-top: 10px;
      }
    }
  }

  // .submenu__blue

  &__blue {
    height: 50px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 1px solid rgba(46, 49, 70, 0.1);
    display: flex;
    align-items: center;
    background-color: rgba($color: $blue, $alpha: .6);
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-right: .7vw;
    transition: $animation_fast;

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: $blue, $alpha: .8);
      }
    }

    @media screen and (max-width: 1205px) {
      display: none;
    }
  }

  // .submenu__red

  &__red {
    // margin-left: 10px;
    margin-right: 1vw;

    @media screen and (max-width: 1205px) {
      display: none;
    }
  }

  .top-header {

    // .top-header__logo
    &__logo {

      img {
        @media screen and (max-width: 1210px) {
          width: 85px;
        }
      }

      p {
        font-size: 18px;
      }

      span {
        font-size: 18px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    @media screen and (max-width: 1210px) {
      margin-right: 0px;
    }
  }

  .bottom-header {

    // .bottom-header__doctor

    &__doctor {}
  }

  // .submenu__btn
  &__btn {
    position: relative;
    width: 25px;
    height: 25px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      margin-top: -1px;
      background-color: $accent;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.submenu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
  flex: 1 1 auto;


  // .submenu-grid__link
  &__link {
    line-height: 120%;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;

    @media screen and (max-width: 425px) {
      white-space: normal;
    }
  }
}


//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: 920px) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #156963;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}