/*=======================================================================*/
.utp {
  padding: 40px 0px 20px;

  &__slider { 
  }

  &__wrapper {
  }

  &__container {
    position: relative;
    &:hover{
      .swiper-button-prev,
      .swiper-button-next{
        opacity: 1 !important;
      }
  
      .swiper-button-disabled{
        opacity: 1 !important;
        background-color: $lightGrey !important;
  
        &::after{
          color: $mainColor;
        }
      }
    }
  }

  .swiper {
    
  }

  .swiper-wrapper {
    
  }

  .swiper-slide {
  }

  .swiper-button-prev {
    left: 0%;
    background-color: $accent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    opacity: 0 !important;
    transition: $animation_fast;

    &::after{
      font-size: 16px;
      color: #fff;
    }
  }

  .swiper-pagination {
    bottom: -30px !important;
  }

  .swiper-pagination-bullet{
    background-color: $accent;
    transition: $animation_fast;
  } 
  
  .swiper-pagination-bullet-active{
    width: 24px;
    border-radius: 5px;
  }

  .swiper-button-next {
    right: 0%;
    background-color: $accent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    opacity: 0 !important;
    transition: $animation_fast;

    &::after{
      font-size: 16px;
      color: #fff;
    }
  }

  .swiper-button-disabled{
    opacity: 0;
    pointer-events: all !important;

    &:hover{
      cursor: not-allowed !important;
    }
  }
}

.slide-utp {

  &__row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 25px;
    overflow: hidden;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 76px 76px;
    background-color: $lightGrey;
  }

  &__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 90%;
    font-family: $fontSecondary;
    margin-bottom: 20px;
  }

  &__text {
    color: rgba($color: $mainColor, $alpha: .6);
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__btn {
    background-color: $accent;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: $animation_fast;

    &:hover{
      background-color: rgba($color: $accent, $alpha: .9);
    }
  }

  &__col--image {
    padding: 0px;
    img{
      max-width: 100%;
    }
  }
}


/*=======================================================================*/

.excellence {

  &__container {
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 20px;
    background-color: #fff;
    // box-shadow: 0 0 0 2px rgba(18,18,18,.02), 0 10px 10px 0 rgba(1,45,91,.07);
    margin-top: 30px;
  }

  &__item {
  }
}
.item-excellence {
  padding: 20px 40px;

  &--accent{
    background-color: $accent;
    padding-right: 40px;
    padding-left: 40px;
    color: $white;

    i{
      color: rgba($color: $white, $alpha: .7) !important;
    }

    svg{
      fill: $white !important;
    }

    .item-excellence__link{
      &:hover{
        color: rgba($color: $white, $alpha: .7);
      }
    }
  }

  &__icon {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
    
    svg{
      width: 100%;
      height: 100%;
      fill: $accent;
    }

  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 0px;
    margin-top: 30px;
    cursor: pointer;
    transition: $animation_fast;

    &:hover{
      color: $accent;
      
      svg{
        margin-left: 12px;
        fill: $accent;
      }
    }

    svg{
      transform: rotate(180deg);
      margin-left: 8px;
      margin-top: 2px;
      transition: $animation_fast;
    }
    
  }
}

/*=======================================================================*/

.service {
  

  &__container {
  }

  &__inner {
  }

  &__title {
    margin-bottom: 10px;
  }

  &__link {
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  &__item {
    border-top: 1px solid rgba($color: $mainColor, $alpha: .1);
    border-left: 1px solid rgba($color: $mainColor, $alpha: .1);
    min-height: 160px;
    display: flex;
    flex-direction: column;
    background-color: $white;

    &--brdr{
      border-right: 1px solid rgba($color: $mainColor, $alpha: .1);
    }

    &--brdb{
      border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);
    }
  }
}
.item-service {

  &:hover{
    .item-service__top{
      color: #fff;
      z-index: 2;
    }
    .item-service__icon{
      z-index: 3;
      svg{
        fill: $white;
        
      }
    }
    .item-service__arrow {
      i{
        opacity: 1 !important;
        transform: translateX(0%);
        margin-left: 15px;
        color: #fff;
      }
    }
  }

  &__top {
    flex: 1 1 auto;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 30px 0px;
    transition: $animation_fast;
  }
  

  &__bottom {
    padding: 0px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: $animation_fast;
    svg{
      width: 35px;
      transition: $animation_fast;
    }
  }

  &__icon {
    transition: $animation_fast;

    svg{
      transition: $animation_fast;
      fill: $accent;
    }
  }

  &__arrow {
      
    i{
      transition-delay: .3s !important;
      transition: $animation_fast;
      transform: translateX(-20px);
      opacity: 0;
    }
  }
}

/*=======================================================================*/

/* Hide every HTML inside .hover that would render outside*/
.hover {
  overflow: hidden;
}
/*Animate overlay and move it 'above'*/
.hover .overlay {
  transform: translate3d(-100%, 0, 0);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/* Mouse enter event */
.hover.mouseenter.top .overlay {
  animation-name: slide--enter-top;
}
.hover.mouseenter.right .overlay {
  animation-name: slide--enter-right;
}
.hover.mouseenter.bottom .overlay {
  animation-name: slide--enter-bottom;
}
.hover.mouseenter.left .overlay {
  animation-name: slide--enter-left;
}

/* Mouse leave event */
.hover.mouseleave.top .overlay {
  animation-name: slide--leave-top;
}
.hover.mouseleave.right .overlay {
  animation-name: slide--leave-right;
}
.hover.mouseleave.bottom .overlay {
  animation-name: slide--leave-bottom;
}
.hover.mouseleave.left .overlay {
  animation-name: slide--leave-left;
}

/* Sliding animations ! */
@keyframes slide--enter-top {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: none; }
}
@keyframes slide--enter-right {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: none; }
}
@keyframes slide--enter-bottom {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: none; }
}
@keyframes slide--enter-left {
  0% { transform: translate3d(-100%, 0, 0); }
  100% { transform: none; }
}
@keyframes slide--leave-top {
  0% { transform: none; }
  100% { transform: translate3d(0, -100%, 0); }
}
@keyframes slide--leave-right {
  0% { transform: none; }
  100% { transform: translate3d(100%, 0, 0); }
}
@keyframes slide--leave-bottom {
  0% { transform: none; }
  100% { transform: translate3d(0, 100%, 0); }
}
@keyframes slide--leave-left {
  0% { transform: none; }
  100% { transform: translate3d(-100%, 0, 0); }
}



/**
 * BASIC CSS FOR DEMO PURPOSE
 */



.hover {
  position: relative;
}

.content {
  flex: 1;
  text-align: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $accent;
  text-align: center;
}


/*=======================================================================*/
/*=======================================================================*/
.about {
  margin: 80px 0px;
  background-color: rgba($color: $blue, $alpha: .05);

  &__container {
  }

  &__body {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 40px;
  }

  &__col {
  }
}

.about-action {
  background-color: $blue;
  padding: 40px;
  // overflow: hidden;
  position: relative;

  &::before{
    content: '';
    width: 100%;
    height: 40px;
    background-color: $blue;
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  &::after{
    content: '';
    width: 100%;
    height: 40px;
    background-color: $blue;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &__hotline {
    position: relative;

    &::after{
      content: '';
      position: absolute;
      top: -30px;
      left: -30px;
      width: 120px;
      height: 120px;
      background-color: rgba($color: #fff, $alpha: .1);
      border-radius: 50%;
      z-index: 0;
    }
  }

  &__hotline--icon {
    margin-bottom: 20px;
    svg{
      fill: #fff;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: rgba($color: #fff, $alpha: .7);
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 10px;
  }

  &__phone {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
  }

  &__info {
    padding: 20px 0px;
    color: rgba($color: #fff, $alpha: .7);
    font-size: 14px;
    line-height: 130%;
    border-top: 1px solid rgba($color: #fff, $alpha: .1);
    border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
    margin-bottom: 20px;
  }

  &__form {

    input:not([type="checkbox"]){
      width: 100%;
      height: 50px;
      background-color: transparent;
      border: 1px solid rgba($color: #fff, $alpha: .1);
      border-radius: 3px;
      padding: 0px 10px;
      outline: none;
      color: #fff;

      &:focus{
        border-color: rgba($color: #fff, $alpha: .5)
      }

      &::placeholder{
        font-size: 16px;
        color: rgba($color: #fff, $alpha: .7);
      }
    }
  }

  &__checkbox {
    margin-top: 20px;
    display: flex;
    align-items: center;

    input[type="checkbox"]{
      appearance: none;
      width: 16px;
      height: 16px;
      border: 1px solid rgba($color: #fff, $alpha: .5);
      position: relative;
      margin-right: 10px;
      cursor: pointer;

      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        margin-left: -4px;
        height: 8px;
        margin-top: -4px;
        background-color: rgba($color: #fff, $alpha: 1.0);
        transform: scale(0);
        transition: $animation_fast;
      }
      
      &:checked{
        border: 1px solid rgba($color: #fff, $alpha: 1.0);

        &::before{
          transform: scale(1);
        }
      }
    }

    label{
      font-size: 13px;
      color: rgba($color: #fff, $alpha: .7);
      font-weight: 500;
      cursor: pointer;
      
      a{
        color: rgba($color: #fff, $alpha: 1);
        text-decoration: underline;
      }
    }
  }

  &__submit {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: rgba($color: #fff, $alpha: 1.0);
    border-radius: 5px;
    color: $blue;
    font-weight: 600;
    font-size: 16px;
  }
}

.about-info {
  padding: 40px 0px;

  &__title {
    font-size: 2.8vw;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 20px;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
    max-height: 300px;
  }

  &__image {
    overflow: hidden;
    border-radius: 5px;

    img{
      max-width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 50px;
    background-color: $blue;
    margin-top: 40px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
  }
}

/*=======================================================================*/
.news {

  &__container {
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    border-radius: 25px;
    background-color: rgba($color: $blue, $alpha: .06);
    padding: 25px;
  }

  &__link {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 30px;
    width: 210px;
    height: 50px;
    border: 3px solid $blue;
    color: $blue;
    font-weight: 600;
    font-size: 16px;
    transition: $animation_fast;

    @media (hover:hover) {
        &:hover{
          background-color: $blue;
          color: #fff;
        }
    }
  }
}

.card-news {
  &:hover{
    .card-news__image{
      img{
        transform: scale(1.1);
      }
    }

    .card-news__title{
      color: $blue;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    
  }

  &__image {
    display: block;
    overflow: hidden;
    border-radius: 20px;
    height: 15vw;
    width: 100%;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $blue, $alpha: .1);
      z-index: 3;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $animation_fast;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: $animation_fast;
  }

  &__excerp {
    flex: 1 1 auto;
    line-height: 150%;
    font-size: 15px;
    color: rgba($color: $mainColor, $alpha: .7);
  }

  &__date{
    font-size: 13px;
    letter-spacing: .2px;
    color: rgba($color: $mainColor, $alpha: .7);
  }
}
/*=======================================================================*/

.stock {

  &__container {
  }

  &__inner {
  }

  &__title {
  }

  &__link {
  }

  &__row {
    display: grid;
    grid-template-columns: 57% 1fr;
    margin-top: 40px;

    &:nth-child(even){
      display: grid;
      grid-template-columns: 1fr 57%;

      .stock__col{
        justify-content: flex-end;
      }

      .stock__content {
        margin-right: -100px;
        position: relative;
        z-index: 3;
      }

      .content-stock__btn{
      }
    }

    .stock__col{
      display: flex;
      align-items: center;
    }

  }

  &__col {
    
  }

  &__image {
    width: 100%;
    height: 450px;
    position: relative;

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    background-color: $lightGrey;
    padding: 40px 30px;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    position: relative;
    z-index: 2;
  }
}

.content-stock {

  &__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__title {
    flex: 1 1 auto;
    font-size: 23px;
    font-weight: 600;
    // font-family: $fontSecondary;
    color: $accent;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 120%;
    color: rgba($color: $mainColor, $alpha: .8);
  }

  &__btn{
    font-size: 15px;
    align-self: flex-start;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;

    @media (hover:hover) {
      &:hover{
        svg{
          margin-left: 12px;
        }
      }
    }

    svg{
      transform: rotate(180deg);
      margin-left: 8px;
      margin-top: 2px;
      transition: $animation_fast;
    }
    
  }
}


/*=======================================================================*/

.blog {

  &__container {
  }

  &__inner {
  }

  &__title {
  }

  &__link {
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 195px 125px;
    gap: 20px 30px;
    margin-top: 40px;
  }

  &__news {
  }

  &__news--big {
    grid-column: span 2;
    grid-row: span 2;
    background-size: cover;
    position: relative;
    padding: 40px 40px !important;
    border: none !important;

    &:hover{
      .news-item__image{
        transform: scale(1.1);
      }

      .news-item__icon{
        i{
          transform: translateX(10px);
        }
      }
    }

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $accent, $alpha: .9);
      z-index: 1;
    }

    .news-item__inner{
      padding: 0px;
    }

    .news-item__day{
      color: $white;
      font-size: 35px;
      font-weight: 600;
      margin-right: 5px;
    }

    .news-item__month{
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      margin-top: 2px;
      margin-bottom: 2px;
    }
    
    .news-item__year {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 2px;
    }

    .news-item__title{
      font-size: 27px;
      font-weight: 500;
      line-height: 130%;
      color: $white;
      // font-family: $fontSecondary;
    }

    .news-item__icon {
      svg{
        fill: $white !important;
      }
    }

  }

  &__form {
  }
}

.news-item {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(32, 33, 36, 0.1);

  &:hover{
    .news-item__icon{
      svg{
        transform: translate(8px) rotate(180deg);
        fill: #fff;
      }
    }

    .news-item__day,
    .news-item__month,
    .news-item__year,
    .news-item__title{
      color: $white;
    }
  }
  
  .overlay{
    background-size: cover;
    background-color: $accent;

    span{
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba($color: $mainColor, $alpha: .6);
    }
  }

  &__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: $animation_slowed;
  }

  &__inner{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
  }

  &__top {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;

    svg{
      transform: rotate(180deg);
      fill: $accent;
      transition: $animation_fast;
    }
  }

  &__icon{
    margin-top: 8px;
    

    i{
      color: $accent;
      transition: $animation_slowed;
    }
  }
  
  &__date {
    display: flex;
  }

  &__day {
    font-size: 30px;
    font-weight: 600;
    color: $accent;
    margin-right: 5px;
  }

  &__date--month {
  }

  &__month {
    font-weight: 500;
    font-size: 13px;
    color: $accent;
  }

  &__year {
    color: $accent;
    font-weight: 600;
  }

  &__bottom {
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
  }
}

.form-blog {
  border: 1px solid rgba($color: $mainColor, $alpha: .1);
  grid-column: span 2;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;

  &__col {
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 20px;
  }

  &__checkbox {
    display: grid;
    grid-template-columns: 9% 1fr;

    input[type="checkbox"] {
      appearance: none;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid rgba($color: $accent, $alpha: 1.0);
      position: relative;

      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
        background-color: $accent;
        transform: scale(0);
        transition: $animation_fast;
      }

      &:checked{
        border-color: $accent;
        
        &::before{
          transform: scale(1) !important;
        }
      }
    }

    label{
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;

      a{
        color: $accent;
      }
    }
  }

  &__form {
  }

  &__input {
    border: 1px solid rgba($color: $accent, $alpha: .2);
    width: 100%;
    height: 40px;
    padding: 0px 8px;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    transition: $animation_fast;

    &::placeholder{
      font-size: 13px;
      font-weight: 500;
    }

    &:focus{
      border-color: rgba($color: $accent, $alpha: .5);;
    }
  }

  &__submit {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: $accent;
    color: $white;
    font-size: 13px;
    font-weight: 600;
    transition: $animation_fast;

    &:hover{
      background-color: rgba($color: $accent, $alpha: .9);
    }
  }
}



/*=======================================================================*/
/*=======================================================================*/




