/*=======================================================================*/
.utp {
  padding: 40px 0px 20px;

  &__slider {
  }

  &__wrapper {
  }

  &__container {
    position: relative;
    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1 !important;
      }

      .swiper-button-disabled {
        opacity: 1 !important;
        background-color: $lightGrey !important;

        &::after {
          color: $mainColor;
        }
      }
    }
  }

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
  }

  .swiper-button-prev {
    left: 0%;
    background-color: $accent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    opacity: 0 !important;
    transition: $animation_fast;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }

  .swiper-pagination {
    bottom: -30px !important;
  }

  .swiper-pagination-bullet {
    background-color: $accent;
    transition: $animation_fast;
  }

  .swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 5px;
  }

  .swiper-button-next {
    right: 0%;
    background-color: $accent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    opacity: 0 !important;
    transition: $animation_fast;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }

  .swiper-button-disabled {
    opacity: 0;
    pointer-events: all !important;

    &:hover {
      cursor: not-allowed !important;
    }
  }
}

.slide-utp {
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 76px 76px;
    background-color: $lightGrey;
  }

  &__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 90%;
    font-family: $fontSecondary;
    margin-bottom: 20px;
  }

  &__text {
    color: rgba($color: $mainColor, $alpha: 0.6);
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__btn {
    background-color: $accent;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: $animation_fast;

    &:hover {
      background-color: rgba($color: $accent, $alpha: 0.9);
    }
  }

  &__col--image {
    padding: 0px;
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}

/*=======================================================================*/

.excellence {
  &__container {
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 20px;
    background-color: #fff;
    // box-shadow: 0 0 0 2px rgba(18,18,18,.02), 0 10px 10px 0 rgba(1,45,91,.07);
    margin-top: 30px;
  }

  &__item {
  }
}
.item-excellence {
  padding: 20px 0px;

  &--accent {
    background-color: $accent;
    padding: 20px 40px;
    color: $white;

    i {
      color: rgba($color: $white, $alpha: 0.7) !important;
    }

    svg {
      fill: $white !important;
    }

    .item-excellence__link {
      &:hover {
        color: rgba($color: $white, $alpha: 0.7);
      }
    }
  }

  &__icon {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;

    svg {
      width: 100%;
      height: 100%;
      fill: $accent;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 0px;
    margin-top: 30px;
    cursor: pointer;
    transition: $animation_fast;

    &:hover {
      color: $accent;

      svg {
        margin-left: 12px;
        fill: $accent;
      }
    }

    svg {
      transform: rotate(180deg);
      margin-left: 8px;
      margin-top: 2px;
      transition: $animation_fast;
    }
  }
}

/*=======================================================================*/

.service {
  background-color: $lightGrey;

  &__container {
  }

  &__inner {
  }

  &__title {
    margin-bottom: 10px;
  }

  &__link {
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  &__item {
    border-top: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    border-left: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    min-height: 160px;
    display: flex;
    flex-direction: column;
    background-color: $white;

    &--brdr {
      border-right: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    }

    &--brdb {
      border-bottom: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    }
  }
}
.item-service {
  &:hover {
    .item-service__top {
      color: #fff;
      z-index: 2;
    }
    .item-service__icon {
      z-index: 3;
      svg {
        fill: $white;
      }
    }
    .item-service__arrow {
      i {
        opacity: 1 !important;
        transform: translateX(0%);
        margin-left: 15px;
        color: #fff;
      }
    }
  }

  &__top {
    flex: 1 1 auto;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 30px 0px;
    transition: $animation_fast;
  }

  &__bottom {
    padding: 0px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: $animation_fast;
    svg {
      width: 35px;
      transition: $animation_fast;
    }
  }

  &__icon {
    transition: $animation_fast;

    svg {
      transition: $animation_fast;
      fill: $accent;
    }
  }

  &__arrow {
    i {
      transition-delay: 0.3s !important;
      transition: $animation_fast;
      transform: translateX(-20px);
      opacity: 0;
    }
  }
}

/*=======================================================================*/

/* Hide every HTML inside .hover that would render outside*/
.hover {
  overflow: hidden;
}
/*Animate overlay and move it 'above'*/
.hover .overlay {
  transform: translate3d(-100%, 0, 0);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Mouse enter event */
.hover.mouseenter.top .overlay {
  animation-name: slide--enter-top;
}
.hover.mouseenter.right .overlay {
  animation-name: slide--enter-right;
}
.hover.mouseenter.bottom .overlay {
  animation-name: slide--enter-bottom;
}
.hover.mouseenter.left .overlay {
  animation-name: slide--enter-left;
}

/* Mouse leave event */
.hover.mouseleave.top .overlay {
  animation-name: slide--leave-top;
}
.hover.mouseleave.right .overlay {
  animation-name: slide--leave-right;
}
.hover.mouseleave.bottom .overlay {
  animation-name: slide--leave-bottom;
}
.hover.mouseleave.left .overlay {
  animation-name: slide--leave-left;
}

/* Sliding animations ! */
@keyframes slide--enter-top {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-right {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-bottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-left {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--leave-top {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes slide--leave-right {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slide--leave-bottom {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slide--leave-left {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/**
 * BASIC CSS FOR DEMO PURPOSE
 */

.hover {
  position: relative;
}

.content {
  flex: 1;
  text-align: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $accent;
  text-align: center;
}

/*=======================================================================*/

.about {
  padding: 50px 0px;

  &__container {
  }

  &__inner {
  }

  &__row {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 40px;
  }

  &__col {
  }

  &__title {
  }

  &__link {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    color: rgba($color: $mainColor, $alpha: 0.7);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.statistic-about {
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__number {
    font-size: 35px;
    font-weight: 600;
    color: $accent;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
  }
}

/*=======================================================================*/

/*=======================================================================*/

/*=======================================================================*/

.stock {
  &__container {
  }

  &__inner {
  }

  &__title {
  }

  &__link {
  }

  &__row {
    display: grid;
    grid-template-columns: 57% 1fr;
    margin-top: 40px;

    &:nth-child(even) {
      display: grid;
      grid-template-columns: 1fr 57%;

      .stock__col {
        justify-content: flex-end;
      }

      .stock__content {
        margin-right: -100px;
        position: relative;
        z-index: 3;
      }

      .content-stock__btn {
      }
    }

    .stock__col {
      display: flex;
      align-items: center;
    }
  }

  &__col {
  }

  &__image {
    width: 100%;
    height: 450px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    background-color: $lightGrey;
    padding: 40px 30px;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    position: relative;
    z-index: 2;
  }
}

.content-stock {
  @media (hover: hover) {
    &:hover {
      .content-stock__btn {
        svg {
          margin-left: 12px;
        }
      }
    }
  }

  &__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__title {
    flex: 1 1 auto;
    font-size: 23px;
    font-weight: 600;
    // font-family: $fontSecondary;
    color: $accent;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 120%;
    color: rgba($color: $mainColor, $alpha: 0.8);
  }

  &__btn {
    font-size: 15px;
    align-self: flex-start;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;

    svg {
      transform: rotate(180deg);
      margin-left: 8px;
      margin-top: 2px;
      transition: $animation_fast;
    }
  }
}

/*=======================================================================*/

.blog {
  background-color: $lightGrey;

  &__container {
  }

  &__inner {
  }

  &__title {
  }

  &__link {
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 195px 125px;
    gap: 20px 30px;
    margin-top: 40px;
  }

  &__news {
  }

  &__news--big {
    grid-column: span 2;
    grid-row: span 2;
    background-size: cover;
    position: relative;
    padding: 40px 40px !important;
    border: none !important;

    &:hover {
      .news-item__image {
        transform: scale(1.1);
      }

      .news-item__icon {
        i {
          transform: translateX(10px);
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $accent, $alpha: 0.9);
      z-index: 1;
    }

    .news-item__inner {
      padding: 0px;
    }

    .news-item__day {
      color: $white;
      font-size: 35px;
      font-weight: 600;
      margin-right: 5px;
    }

    .news-item__month {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .news-item__year {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 2px;
    }

    .news-item__title {
      font-size: 27px;
      font-weight: 500;
      line-height: 130%;
      color: $white;
      // font-family: $fontSecondary;
    }

    .news-item__icon {
      svg {
        fill: $white !important;
      }
    }
  }

  &__form {
  }
}

.news-item {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(32, 33, 36, 0.1);

  &:hover {
    .news-item__icon {
      svg {
        transform: translate(8px) rotate(180deg);
        fill: #fff;
      }
    }

    .news-item__day,
    .news-item__month,
    .news-item__year,
    .news-item__title {
      color: $white;
    }
  }

  .overlay {
    background-size: cover;
    background-color: $accent;

    span {
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba($color: $mainColor, $alpha: 0.6);
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: $animation_slowed;
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
  }

  &__top {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;

    svg {
      transform: rotate(180deg);
      fill: $accent;
      transition: $animation_fast;
    }
  }

  &__icon {
    margin-top: 8px;

    i {
      color: $accent;
      transition: $animation_slowed;
    }
  }

  &__date {
    display: flex;
  }

  &__day {
    font-size: 30px;
    font-weight: 600;
    color: $accent;
    margin-right: 5px;
  }

  &__date--month {
  }

  &__month {
    font-weight: 500;
    font-size: 13px;
    color: $accent;
  }

  &__year {
    color: $accent;
    font-weight: 600;
  }

  &__bottom {
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
  }
}

.form-blog {
  border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
  grid-column: span 2;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;

  &__col {
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 20px;
  }

  &__checkbox {
    display: grid;
    grid-template-columns: 9% 1fr;

    input[type="checkbox"] {
      appearance: none;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid rgba($color: $accent, $alpha: 1);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
        background-color: $accent;
        transform: scale(0);
        transition: $animation_fast;
      }

      &:checked {
        border-color: $accent;

        &::before {
          transform: scale(1) !important;
        }
      }
    }

    label {
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;

      a {
        color: $accent;
      }
    }
  }

  &__form {
  }

  &__input {
    border: 1px solid rgba($color: $accent, $alpha: 0.2);
    width: 100%;
    height: 40px;
    padding: 0px 8px;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    transition: $animation_fast;

    &::placeholder {
      font-size: 13px;
      font-weight: 500;
    }

    &:focus {
      border-color: rgba($color: $accent, $alpha: 0.5);
    }
  }

  &__submit {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: $accent;
    color: $white;
    font-size: 13px;
    font-weight: 600;
    transition: $animation_fast;

    &:hover {
      background-color: rgba($color: $accent, $alpha: 0.9);
    }
  }
}

/*=======================================================================*/

.faq {
  &__container {
  }

  &__inner {
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 30px;

    a {
      color: $accent;
    }
  }

  &__btn {
    // background-color: $accent;
    padding: 10px 20px;
    font-size: 14px;
    color: $mainColor;
    font-weight: 600;
    border: 1px solid $mainColor;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__link {
    margin-bottom: 40px;
  }

  .spollers {
    &__item {
    }

    &__title {
    }

    &__body {
    }
  }
}

/*=======================================================================*/

/*=======================================================================*/
/*=======================================================================*/
