.pagging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &__arrow {
    &:first-child{
      margin-right: 20px;
    }

    i{
      color: $accent;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $lightGrey;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    color: $accent;
    transition: $animation_fast;

    &:hover{
      background-color: rgba($color: $accent, $alpha: .05);
    }
  }

  ._active {
    background-color: $accent;
    color: $bodyColor;
  }
}

